<h3>大ジャンル一覧・追加</h3>
<div class="container">
  <div class="row">
    <div class="col-6 border p-3">
      <% @big_genres.each do |big_genres| %>
        <%= link_to "#{big_genres.name}", admin_big_genre_path(big_genres.id), {class: "px-2"} %>
      <% end %>
      <%= form_with model: @big_genre, url: admin_big_genres_path do |big_genre| %>
        <%= big_genre.label "大ジャンル名" %>
        <%= big_genre.text_field :name %>
        <%= big_genre.submit "追加する", class: "btn btn-secondary" %>
      <% end %>
      <br>
      <table style="width:100%;">
        <tr>
          <th>大ジャンル名</th>
          <th></th>
        </tr>
        <% @big_genres.each do |big_genres| %>
        <tr>
          <td><%= big_genres.name %></td>
          <td><%= link_to "編集する", edit_admin_big_genre_path(big_genres.id) %></td>
        <tr>
        <% end %>
      </table>
    </div>
  </div>
</div>