<h3>小ジャンル編集画面</h3>
<br>
<%= form_with model: @small_genre, url: admin_small_genre_path do |small_genre| %>
    <%= small_genre.text_field :name %>
    <%= small_genre.collection_select(:big_genre_id, @big_genres, :id, :name) %>
    <%= small_genre.submit "変更する", class: "btn btn-primary" %>
    <%= link_to admin_small_genre_path(@small_genre.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
        <button type="button" class="btn btn-danger">削除する</button>
    <% end %>
<% end %>
<br>