<!DOCTYPE html>
<html>
  <head>
    <title>日本習字オンライン</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 p-3">
            <a href="/"><%= image_tag 'sample_logo.jpg', :size =>'380x130' %></a>
          </div>
          <div class="col-8">
            <div class="text-right h-auto p-3">
              <div class="align-right">
                <small>公益財団法人</small><big>日本習字教育財団</big>
              </div>
              <div class="align-right py-3">
                <% if admin_signed_in? %>
                  <div class="row float-right">
                    <div class="text-center">
                      <%= link_to "アバウトページ", homes_about_path %>
                    </div>
                    <div>
                      <span>管理者<%= current_admin.email %>様</span>
                      <li>
                        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
                      </li>
                      <li>
                        <%= link_to "会員新規登録", new_customer_registration_path %>
                      </li>
                    </div>
                    <button type="button" class="btn btn-outline-dark text-center ml-3 button_cart">
                      <i class="fas fa-shopping-cart icon_cart"></i><br>
                      カート
                    </button>
                  </div>
                <% elsif customer_signed_in? %>
                  <div class="row float-right">
                    <div>
                      <span>
                        <%= current_customer.last_name %>　<%= current_customer.first_name %> さま
                      </span><br>
                      <span>
                        <i class="fab fa-product-hunt"></i>
                        <%= current_customer.point %>ポイント
                      </span>
                      <li>
                        <%= link_to "会員ログアウト", destroy_customer_session_path, method: :delete %>
                      </li>
                    </div>
                    <button type="button" class="btn btn-outline-dark text-center ml-3 button_cart">
                      <i class="fas fa-shopping-cart icon_cart"></i><br>
                      カート
                    </button>
                  </div>
                <% else %>
                  <button type="button" class="btn btn-outline-dark text-center ml-3 button_cart">
                    <i class="fas fa-shopping-cart icon_cart"></i><br>
                    カート
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row contents">
        <%= link_to root_path, class: "col-2 nav_item" do %>
          <div>
            <big>TOP</big>
          </div>
        <% end %>
        <%= link_to public_messages_path, class: "col-2 nav_item" do %>
          <div>
            <big>お知らせ</big>
          </div>
        <% end %>
        <div class="col-2 nav_item">
          <big>商品カテゴリ</big>
        </div>
        <div class="col-2 nav_item">
          <big>ご利用ガイド</big>
        </div>
        <div class="col-2 nav_item">
          <big>よくある質問</big>
        </div>
        <%= link_to customer_session_path, class: "col-2 nav_item" do %>
          <div>
            <big>ログイン</big>
          </div>
        <% end %>
      </div>
  </header>
  
  <div class="container-fluid">
    <%= yield %>
  </div>
  
  <footer>
    <div class="container-fluid px-5 footer">
      <div class="row">
        <div>
          <table>

          </table>
        </div>
        <div>
          <table>

          </table>
        </div>
        <div>
          <table>

          </table>
        </div>
        <div>
          <table>

          </table>
        </div>
      </div>
      <div class="float-right">当サイトの画像、テキスト等の二次使用・無断転載はお断りします</div>
    </div>
    <div class="footer2 text-center">
      <div class="p-3 text-light">© 2022 公益財団法人 日本習字教育財団 All Right Reserved.</div>
    </div>
  </footer>
  </body>
</html>
