<!DOCTYPE html>
<html>
  <head>
    <title>Practice2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <br>
    <% if admin_signed_in? %>
      <span>管理者<%= current_admin.email %>ログイン中</span>
      <li>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% elsif customer_signed_in? %>
      <span>会員<%= current_customer.email %>ログイン中</span>
      <li>
        <%= link_to "会員ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "会員ログイン", new_customer_session_path %>
      </li>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
